{
    "join_message": "Never fear, AllmightyBot is here!",
    "hosting": "Thanks for watching! We're now hosting {0} so please go over to http://www.twitch.tv/{0} and show them some love!",
    "exit_message": "Goodbye!",
    "reloaded": "Commands reloaded",
    "new_seed": "Let's get a new seed. Type !seed (seed name) to suggest a seed. For example to suggest a seed of Example Seed use !seed Example Seed",
    "seed_added": "One or more seeds have been added to the list!",
    "seed_pick_none": "There was no winner as no seeds were submitted!",
    "seed_pick": "The winner was {0} with a seed of '{1}'",
    "seed_details": "The seed for this world was picked by {0} and is '{1}'",
    "posting_link_warning": "Please ask permission before posting links! This is a warning! Next time will be a timeout!",
    "posting_link_timeout": "Please ask permission before posting links! [Timed out] [{0}]",
    "uptime_today": "{0} has been live for {1}!",
    "uptime_offline": "{0} is not currently streaming!",
    "viewers": "There are currently {0} viewers here!",
    "not_online": "The stream is not online so there are no viewers!",
    "title": "The title of the stream is '{0}' and the game is '{1}'",
    "strawpoll": "A StrawPoll has been created! Go vote on it at http://strawpoll.me/{0}",
    "random_user": "Abra Kadabra, I choose you {0}",
    "current_time": "The current time for {0} is {1}",
    "stream_started": "Hey everyone! The streams started!",
    "stream_not_started": "Silly strimmer! You haven't started the stream!",
    "stream_already_started": "Silly strimmer! You've already started the stream!",
    "stream_ended": "The stream has ended! Thankyou all for showing up!",
    "stream_start_remind": "Hey strimmer! Just a reminder that you haven't started the stream!",
    "eyetime": "{0} has been in the stream for {1}!",
    "eyetime_not_found": "{0} has not visited the stream before!",
    "eyetime_whisper": "You've been in the stream for {0}!"
}