{
    "debug": true,
    "debug_details": true,

    "bot_username": "",
    "bot_oauth_token": "",
    "channel_to_join": "",
    "casters_display_name": "",

    "master_users": [
        "some_username"
    ],

    "api_client_id": "",
    "api_access_token": "",

    "bot_says_welcome": false,

    "bot_speak_limit_per_30s": 80,
    "link_timeout_length": 600
}