{
    "debug": true,
    "debug_details": true,

    "bot_username": "",
    "bot_oauth_token": "",
    "channel_to_join": "",

    "bot_says_welcome": false,
    "default_timeout": 600,
    "default_slowmode_time": 30
}